.page{
	width: 100%;
	position: absolute;
	top: 50px;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
/* 头部样式 */
.app-header{
	width: 100%;
	height: 50px;
	background: #282828;
	line-height: 50px;
	z-index: 999;
}
.app-header span{
	display: block;
	float: left;
	width: 50px;
	height: 50px;
	text-align: center;
	font-size: 14px;
	color: #999;
	font-weight: 900;
	border-right: 1px solid #333;
}
.app-header h1{
	display: block;
	float: left;
	font-size: 14px;
	color: #fff;
	padding-left: 10px;
	font-weight: normal;
}
.app-header a{
	display: block;
	float: right;
	color: #999;
	font-size: 14px;
	padding-right: 20px;
}
.app-header .city:after{
	font-size: 10px;
	margin-left: 6px;
}

/*侧边栏样式*/
.cover{
	width: 100%;
	position: absolute;
	top: 50px;
	bottom: 0;
	left: 0;

}
.cover div{
	width: 100%;
	height: 100%;
	position: absolute;
	transition: 0.4s;
	background:#000;
	z-index: 999;
}
.cover .silder-bar{
	width: 65%;
	height: 100%;
	float: left;
	background: #282828;
	transition: 0.4s;
	z-index: 1000;
	position: absolute;
	top: 0;
	left: 0;
}
.cover .silder-bar a{
	display: block;
	width: 100%;
	height: 50px;
	line-height: 50px;
	color: #999;
	padding:0 15px;
	font-size: 14px;
	box-sizing: border-box;
}
.cover .silder-bar a:after{
	font-size: 10px;
	color: #666;
	float: right;
}
