#home{
	overflow: auto;
}#home .home-banner{
	width: 100%;
}
#home .swiper-slide img{
	width: 100%;
}
.home-list{
	position: relative;
}
.home-list ul{
	padding-top: 18px;
	overflow: hidden;
}
.home-list li{
	margin: 0 17px 17px 17px;
	box-sizing: border-box;
	box-shadow: 0.5px 0.5px 1px #a8a8a8;
	background-color: #fff;
}
.home-list li img{
	width: 100%;
}
.home-list li div{
	width: 100%;
	height: 50px;
	font-size: 12px;
}
.home-list li div p{
	float: left;
	padding-left: 15px;
	width: 80%;
	height: 25px;
	line-height: 25px;
	box-sizing: border-box;
}
.home-list li div b{
	display: block;
	width: 20%;
	float: right;
	line-height: 50px;
	text-align: center;
	font-size: 18px;
	color: #f78360;
}
.home-list li div span{
	padding-left: 15px;
	color: #999;
}
.home-list-more{
	width: 50%;
	margin: 0 auto;
	height: 30px;
	line-height: 30px;
	border: 1px solid #999;
	border-radius: 30px;
	text-align: center;
	font-size: 14px;
	color: #666;
	margin-bottom: 34px;
}
.home-list hr{
	margin-bottom: 20px;
}
.home-list-coming{
	width: 25%;
	text-align: center;
	font-size: 12px;
	color: #fff;
	background: #999;
	border-radius: 5px;
	padding: 4px 0;
	position: absolute;
	bottom: 742px;
	left: 50%;
	transform: translate(-50%);
}
