#main-wp{width: 100%;height: 600px;overflow: hidden;clear: both;background:url(../images/auth_bg_new.jpg) no-repeat center top;}
#main-wp .main{width: 1180px;height: 600px;margin: 0 auto;}
#main-wp .main .main-right{width: 366px;height: 540px;float: right;position: relative;padding:60px 50px 0 0;}
#main-wp .main .title{width: 100%;margin-top: 45px;height: 20px;line-height: 20px;text-align: right;}
#main-wp .main .title span{display: block;float: left;font-size:20px ;}
#main-wp .main .main-right a{display: block;float: right;color: #ff8a81;}
#main-wp .main .section{margin-top: 12px;background: #fcede9;padding: 45px 0 0 41px ;}
#main-wp .main .section p{width: 325px;height: 56px;margin: 0 auto;text-align: left;}
#main-wp .main .section input{width: 250px; height: 20px;line-height: 20px;padding: 6px 0 6px 10px;color: #000;display: inline-block;background: #fff;vertical-align: middle;border: 1px solid #fff;}
#main-wp .main .section span{width: 250px;height: 22px;line-height: 22px;display: block;color: red;}
#main-wp .main .section .p2 input{width: 130px;float: left;}
#main-wp .main .section .p2 i{display:inline-block; width: 100px;height: 34px;background: #fff;float: left;margin-left: 20px;text-align: center;line-height:34px ;font-size: 20px;color: #000;cursor: pointer;}
#main-wp .main .section .p3{height: 40px;}
#main-wp .main .section .p3 input{width: 13px;height: 13px;display: inline-block;}
#main-wp .main .section .p3 a{display: inline-block;float:none;color: #000;text-decoration:underline;}
#main-wp .main .section .p3 a:hover{color:#ff8a81 ;}
#main-wp .main .section .p4 input{width: 281px;height: 32px;background: #ff8a81;line-height: 32px;margin: 0 auto;text-align: center;cursor: pointer;color: #fff;padding: 0;}
#main-wp .main .section .p4 input:hover{opacity: 0.85;}












